.menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.menu-item-title{
    margin-top: 10px;
}