@import '@/global.module.scss';

.menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    border-top: 1px solid $borderColorPrimary;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    &.active{
        color: $primary;
    }
}
.menu-item-title{
    margin-top: 10px;
}