@import '@/global.module.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    color: $color999;
    :global{
        .iconfont{
            font-size: 140px;
        }
    }
}
.title{
    font-size: 32px;
    margin-top: 20px;
}