@import '@/global.module.scss';

.wrap{
    :global{
        .labelList-item{
            display: flex;
            padding: 15px 0;
        }
        .labelList-item-name{
            width: 140px;
            margin-right: 10px;
            text-align: right;
        }
        .labelList-item-desc{
            flex: 1;
        }
    }
}