@import '@/global.module.scss';
.container{
    height: 100%;
    background-color: $backgroundColorPrimary;
    overflow: auto;
}

.vehicle-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.vehicle-img{
    width: 200px;
    padding-right: 20px;
    text-align: center;
}
.vehicle-info{
    flex: 1;
    @include line-limit();
}
.vehicle-info-item{
    @include line-limit();
    padding: 10px 0;
    :global{
        .iconfont{
            margin-right: 10px;
        }
    }
}