@import '@/global.module.scss';
:global{
    .amap-logo{
        display: none !important;
    }
    .amap-copyright{
        display: none !important;
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    padding-top: 120px;
    overflow: hidden;
}

.info-head{
    display: flex;
    flex-direction: column;
    .info-number{
        font-size: 80px;
    }
    .info-name{
        font-size: 40px;
    }
}
.info-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-list{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}
.info-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info-number{
    font-size: 60px;
    color: $primary;
}
.info-nane{
    margin-top: 20px;
    font-size: 28px;
}

.map{
    width: 100%;
    height: 100%;
}

.vehicle{
    position: absolute;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 20px 20px 0 20px;
    transition: all 0.3s;
}
.vehicle.hide{
    transform: translateY(200%);
}
.vehicle-img{
    position: absolute;
    width: 400px;
    left: 50%;
    top: 0;
    transform: translate(-50%,calc(-100% + 34px));
    text-align: center;
}
.vehicle-title{
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
}
.vehicle-info-list{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-top: 1px solid $borderColorPrimary;
}
.vehicle-info-item{
    width: 50%;
    padding: 20px;
    color: $color999;
    @include line-limit()
}
.vehicle-info-item-name{
    color: initial;
}
.vehicle-bottom{
    border-top: 1px solid $borderColorPrimary;
}
.vehicle-billing,.vehicle-address{
    padding: 20px 0;
    @include line-limit();
    :global{
        .iconfont{
            margin-right: 10px;
            color: $primary;
        }
    }
}