@import '@/global.module.scss';

.container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    padding-top: 120px;
}

.info-head{
    display: flex;
    flex-direction: column;
    .info-number{
        font-size: 80px;
    }
    .info-name{
        font-size: 40px;
    }
}
.info-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-list{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}
.info-item{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info-number{
    font-size: 60px;
    color: $primary;
}
.info-nane{
    margin-top: 20px;
    font-size: 28px;
}

.map{
    width: 100%;
    height: 100%;
}