/* 全局变量名称 */
$primary: #0084FF;
/* 边框颜色 */
$borderColorPrimary: #e5e5e5;
/* 背景颜色 */
$backgroundColorPrimary: #f5f5f5;

@mixin line-limit {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}